
body {
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'vt323', cursive;
  letter-spacing: 1px;
  margin: 0;
}

.app {
  width: 100%;
  max-width: 390px;   
  min-height: 100vh;
  background: white;
}

.card {
  width: 370px;
  height: 144px;
  border-radius: 13px;
  background: #e9e9e9;
  box-shadow: 3px 6px 0 #2b1d3a;
  overflow: hidden;
}

.card-header {
  background-color: #A2B4FE;
  color: white;
  padding: 0px 15px;
  font-weight: bold;
  font-size: 24px;
}

.card-body {
  display: flex;
  padding-left: 15px;
  padding-top: 10px;
  gap: 20px;
}

.cover {
  width: 90px;
  height: 90px;
  background: #ccc;
  border-radius: 15px;
  box-shadow: 5px 3px 0 #2b1d3a;
}  

.cover img{
  width: 90px;
  height: 90px;
  border-radius: 15px;
 
}  


.info{
    padding-left: 10px;
    padding-top: 2.5px;

}
.info h2 {
  margin: 0;
  font-size: 16px;
  color: #333;
  padding-top: 2px;
}

.info p {
  margin: 5px 0 15px;
  color: #555;
  font-size: 12px;
  padding-top: 2px;
}

.progress {
  width: 200px;
  height: 10px;
  background: #d2d1d1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 0 #2b1d3a;
  
}

.progress-fill {
  width: 0%;
  height: 100%;
  background: hotpink;
  transition: width 0.1s linear;
}
.controls {
  display: flex;
  padding-left: 60px;
  gap: 10px;
}

.controls button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #2b1d3a;

}

.controls img {
  gap: 20px;
  padding-top: 8px;
  width: 25px;
  height: 25px;
}

#backIcon,
#nextIcon {
  width: 10px;
}

